.scenario-select-field {
  border: 2px solid darkgrey;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

.scenario-select-field:hover {
  background-color: black;
  border: 2px dashed lime;
  border-radius: 5px;
}

.scenario-select-field.planification:hover {
  border-color: red;
}
