.logo-menu {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 25px;
  margin: 10px;
  box-shadow: 0 0 10px #777;
  z-index: 9000;
}

.logo-menu.logo-menu--show {
  width: 300px;
  box-shadow: 0 10px 10px #333;
  transition: box-shadow 0.3s ease-in-out;
}

.logo-menu__content {
  background: radial-gradient(circle at 182px 204px, #200, transparent 40%);
  user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
  margin-left: 15px;
  padding-right: 300px;
  padding-bottom: 300px;
  border-radius: 100px;

  width: 90%;
  height: 300px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.logo-menu__card {
  cursor: pointer;
  pointer-events: block;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  height: 100%;
  box-shadow: 0 3px 3px #777;
  width: 82px;
  height: 82px;
}

.logo-menu__card:hover {
  border: 1px solid #777;
  color: #bbb;
  background-color: #222;
  box-shadow: 0 3px 3px #555;
}
