.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.content {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
